@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

body {
  background-image: url("photo/bostonBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin-top: 50px;
}

h1 {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  font-family: 'Courgette', cursive;
  font-size: 45px;
  font-weight: bold;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding-bottom: 2%;

}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  padding-bottom: 2%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

.emphasize {
  font-family: 'Courgette', cursive;
  font-size: 25px;
}

.magazineColor {
  color: #FFD700;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.4rem;
}

#fologo {
  width: 15%;
}

#choices {
  text-align: center;
}

#button {
  display: none;
  background-color: rgba(102, 204, 255, .8);
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 3%;
  border-radius: 5px;
  margin-left: 40%;
  width: 20%;
}

#button:hover {
  background-color: rgba(255, 215, 0, 1);
}

.outputSection {
  border-radius: 1em;
  margin: 20px;
  padding: 15px;
}

#infoSection {
  height: 500px;
  background-color: rgba(224, 224, 224, .75);
  overflow: scroll;
}

#attribution {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(255,255,255,.7);
}

#map {
  width: 700px;
  height: 500px;
}

@media (min-width: 1350px) {
  #map {
    width: 900px;
    height: 643px;
  }

  #infoSection {
    height: 643px;
  }
}
