.main {
  margin: 20px 10%;
}

@media (max-width: 500px) {
  .main {
    margin: 20px 0;
  }
}

code {
    color: "black"
    background-color: "white";
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
