.main {
  margin: 20px 10%;
}

@media (max-width: 500px) {
  .main {
    margin: 20px 0;
  }
}

code {
    color: "black"
    background-color: "white";
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

.keyword {
  color: #d73a49;
}

.functionTitle {
  color: #6f42c1;
}

.string {
  color: #032f62;
}

.token {
  color: #005cc5;
}

.imageHeader {
  text-align: center;
  margin-bottom: 24px;
}

.headerContent {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.box {
  width: 50%;
  margin: 10px;
  text-align: center;
}

.box-sm {
  width: 40%;
  margin: 10px;
  text-align: center;
}

.feature {
  text-align: center;
  padding-bottom: 20px;
}

.featureImg {
  border-radius: 10px;
  width: 40%;
}

#selfImage {
  border-radius: 10px;
  width: 40%;
}

a:hover {
  text-decoration: none;
}

#new {
  color: white;
  font-weight: bold;
  padding: 2px;
  background-color: green;
  border-radius: 5px;
}
