body {
  text-align: center;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

section {
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

a {
  text-decoration: none;
}

a:hover {
  color: blue; 
}

a:visited {
  color: black; 
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}
